
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/font.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html,body {
            height: 100%;
            color: white;
            font-family: 'Gothic A1', sans-serif;
        }
        
        .title button {
            font-size: 14px;
        }
        
        .content {
            color: black;
        }
        span {
            font-size: 20px;
        }
        a {
            text-decoration: none;
            color: white;
        }
        .file_view a {
            color: black;
        }
        li span, #partner-list span {
            margin-left: 15px;
        }
        #partner-list li {
            padding-left: 47px;
            margin-top: 10px;
        }
        hr {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .hidden-upload-form {
            display: none;
        }
        strong {
            color: black;
        }
        .companyTitle {
            margin-left: 30px;
        }
    </style>
</head>
<body>

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-lg-2 bg-dark">
            <div class="title text-center mt-3">
                <h1>LOGO</h1>
                <div class="row">
                    <button type="button" class="col btn btn-primary m-2 mt-3 pt-2 pb-2">
                        <a href="/admin/addPartner">협력사 추가</a>
                    </button>
                    <button type="button" class="col btn btn-primary m-2 mt-3 pt-2 pb-2" id="uploadBtn">
                        업로드
                    </button>
                </div>
            </div>
            <div class="mt-4">
                <ul>
                    <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                    </svg><span>홈</span></li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-device-hdd" viewBox="0 0 16 16">
                            <path d="M12 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm0 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm-7.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM5 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM8 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"/>
                            <path d="M12 7a4 4 0 0 1-3.937 4c-.537.813-1.02 1.515-1.181 1.677a1.102 1.102 0 0 1-1.56-1.559c.1-.098.396-.314.795-.588A4 4 0 0 1 8 3a4 4 0 0 1 4 4Zm-1 0a3 3 0 1 0-3.891 2.865c.667-.44 1.396-.91 1.955-1.268.224-.144.483.115.34.34l-.62.96A3.001 3.001 0 0 0 11 7Z"/>
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2Zm2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4Z"/>
                        </svg><span><a th:href="'/admin?' + 'companyId=' + ${admin.id}">내 저장소</a></span></li>
                </ul>
                <hr/>
                <div id="partner-list">
                    <ul>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-fill" viewBox="0 0 16 16">
                            <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5z"/>
                        </svg><span>내 협력사</span>
                        <li th:each="partner : ${partners}">
                            <a th:if="${partner.companyName} != 'ADMIN'" th:href="'/admin?' + 'companyId=' + ${partner.id}" th:text="${partner.companyName}"></a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="btn btn-danger"><a href="/logout">로그아웃(테스트기능)</a></button>
            </div>
        </div>
        <div class="col file_view">
            <ul class="list-group list-group-flush">
                <div class="companyTitle mt-3 mb-3">
                    <h1><strong th:if="${select_companyName} == 'ADMIN'" th:text="'내 공간'"></strong></h1>
                    <h1><strong th:unless="${select_companyName} == 'ADMIN'" th:text="${select_companyName}"></strong></h1>
                </div>
                <li th:each="file : ${select}" class="list-group-item">
                    <a th:text="${file.uploadFileName}" th:href="|/admin/file/download/${file.uploader.companyName}/${file.storeFileName}|"></a>
                    <button th:if="${file.uploader.companyName} == 'ADMIN'"
                            th:onclick="'location.href=\''+ '/file/delete/' + ${file.id} + '\''"
                            type="button" class="btn-close" aria-label="Close"></button>
                </li>
            </ul>
        </div>
    </div>
    <form class="hidden-upload-form" th:action="'/file'" method="post" enctype="multipart/form-data">
        <input id="file" type="file" name="file" onchange="changeValue(this)"/>
        <button id="submit" type="submit">전송!</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(function() {
        $('#uploadBtn').click(function(e) {
            e.preventDefault();
            $('#file').click();
        });
    });
    function changeValue(obj) {
        console.log('selected');
        $('#submit').click();
    }
</script>
</body>
</html>