<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style>
        #main {
            height: 100vh;
        }
    </style>
</head>
<body>
<div class="d-flex justify-content-center align-items-center" id="main">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">403</h1>
    <div class="inline-block align-middle">
        <h2 class="font-weight-normal lead" id="desc">잘못된 접근입니다!</h2>
    </div>
</div>
</body>
</html>